.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  list-style: none;
  list-style-type: none;
  background-color: #ffcbc0;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: left;
  font-size: calc(10px + 1.5vmin);
}

.App-link {
  color: #61dafb;
}

#zhuyinIntro {
  padding: 3vw 10vw 3vw 10vw;
  background-color: #fffbf5;
}

#zhuyinIntro header {
  text-align: center;
}

#zhuyinIntro .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding-top: 3vh;
  text-align: justify;
}

#zhuyinIntro .grid-container img {
  height: 20em;
  width: auto;
}

#homePagekeyboard {
  padding: 0 25vw 3vw 25vw;
  background-color: #cfd8e8;
}

#homePagekeyboard button {
  height: 6vmin;
  width: 6vmin;
  margin-right: 4px;
  margin-top: 4px;
  text-align: center;
}

#homePagekeyboard h1 {
  font-size: 3vmin;
  text-align: center;
  box-shadow: #61dafb;
  font-family:'Times New Roman', Times, serif;
  padding-top: 5vh;
}

.simpleKey {
  display: inline-table;
  text-align: center;
  height: min-content;
  width: min-content;
}
